@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

.containRoom {
  display: flex;
  flex-direction: row;

  font-family: "Bebas Neue", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(246, 246, 247);
  overflow-x: hidden;
}

.sideBar {
  background-color: #ff914d;
  color: white;
  padding: 1rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: auto;
}

@media (max-width: 815px) {
  .containRoom {
    flex-direction: column;
  }

  .sideBar {
    background-color: #ff914d;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }
}

.containRoom.blurredBackground {
  backdrop-filter: blur(5px);
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/berenjena/jugadores//bgModal.png");
}

.modalContent {
  background: white;
  margin-inline: 0.5rem;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.modalContent h2 {
  font-size: 1.5rem;
}

.modalContent button {
  width: 8rem;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #ff914d;
  color: white;
  border: none;
  padding: 0.5rem;
  transition: background-color 0.3s;
  font-family: "Bebas Neue";
  font-size: 1.2rem;
  transition: width 0.3s ease-in-out;
}

.modalContent button:hover {
  background-color: #218838;
  width: calc(8rem + 2rem);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.swal2-container {
  font-family: "Bebas Neue";
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.profileAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.userName {
  font-size: 1.8rem;
}

.editIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-family: "Bebas Neue";
  font-size: 1rem;
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 0.5rem;
  transition: background-color 0.3s;
  transition: width 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 5rem;
  font-family: "Bebas Neue";
  font-size: 1rem;
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 0.5rem;
  transition: background-color 0.3s;
  transition: width 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.createButton:hover {
  width: calc(5rem + 2rem);
  background-color: white;
  color: #ff914d;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.editIcon:hover {
  transform: scale(1.1);
  background-color: white;
  color: #ff914d;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.DivButtonBack {
  display: flex;
  justify-content: center;
}

.DivButtonBack a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Bebas Neue";
  text-decoration: none;
  background-color: green;
  color: white;
  width: 6rem;
  padding: 0.5rem;
  transition: background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.DivButtonBack a:hover {
  background-color: white;
  color: #ff914d;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media (max-width: 815px) {
  .profile {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 0;
  }

  .profileAvatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .userName {
    font-size: 1.2rem;
  }

  .editIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: green;
    color: white;
    transition: background-color 0.3s;
    transition: width 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .createButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 5rem;
    font-family: "Bebas Neue";
    font-size: 1rem;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 0.3rem;
    transition: background-color 0.3s;
    transition: width 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .DivButtonBack a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: "Bebas Neue";
    font-size: 1rem;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 0.5rem;
    transition: background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.DivName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.DivName span {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.DivName input {
  height: 2rem;
  border-radius: 8px;
  width: 50%;
  padding-left: 0.75rem;
  font-family: "Bebas Neue";
  border: 1px solid #ff914d;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DivName input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px #4caf50;
  background-color: #fff;
}

.DivName input::placeholder {
  color: #aaa;
}

.DivAvatars {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.DivAvatars p {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.DivAvatarsGrid {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}

.DivAvatars img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.DivAvatars img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.selectedAvatar {
  border: 3px solid #218838;
}

.DivInputRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  font-size: 1.3rem;
  gap: 1rem;
}

.DivInputRoom input {
  height: 2rem;
  border-radius: 8px;
  width: 80%;
  padding-left: 0.75rem;
  font-family: "Bebas Neue";
  border: 2px solid #218838;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  font-size: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputPlaceholder::placeholder {
  color: rgb(167, 167, 167); 
  font-style: italic;
}

.errorMsgContainer{
  display: flex;
  flex-wrap: wrap;
  width: 8rem;
}

.errorMsg{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  color: red;
  font-size: 1rem;
}

.DivRooms {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  padding: 1.5rem;
  gap: 2rem;
}

.roomsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 1.5rem;
}

@media (max-width: 815px) {
  .roomsContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .DivRooms {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .DivInputRoom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;

    font-size: 1.3rem;
    gap: 1rem;
  }

  .DivInputRoom span {
    display: flex;
    width: auto;
    font-size: 1rem;
  }

  .DivInputRoom input {
    height: 2rem;
    border-radius: 8px;
    width: 5rem;
    padding-left: 0.3rem;
    font-family: "Bebas Neue";
    border: 2px solid #218838;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logoBerenjena {
  width: 100%;
  max-width: 12rem;
}

.autocomplete {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

@media (max-width: 1000px) {
  .autocomplete {
    flex-direction: column;
    justify-content: center;
  }
}

.DivRoom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 10px;
  width: 10rem;
  height: 11rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.textRoom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  font-family: "Reddit Sans";
  font-size: 1rem;
}



.groupIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.DivRoom p {
  margin: 0;
}

.DivRoom img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-inline: 1rem;
}

.DivRoom button {
  width: 5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Reddit Sans";
  background-color: green;
  color: white;
  padding: 0.5rem;
  transition: background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.DivRoom button:hover {
  background-color: rgb(0, 32, 100);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


@media (max-width: 455px) {
  .DivRoom {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 90%;
    height: 3rem;
  }

  .roomsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .textRoom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: auto;
    gap: 2rem;
    font-family: "Reddit Sans";
    font-size: 1rem;
  }

  .DivRoom img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-inline: 1rem;
  }
}