.Contain {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 80vh;
  top: 0;
  column-gap: 4rem;
  margin-top: 1rem;
}

.cards {
  position: relative;
  height: fit-content;
  border: 3px solid darkgoldenrod;
  border-radius: 13px;
}

/* Clases para diferentes posiciones en el eje Y */
.yPos1 {
  top: 0%;
}

.yPos2 {
  top: 20%;
}

.yPos3 {
  top: 40%;
}

.yPos4 {
  top: 60%;
}

.yPos5 {
  top: 80%;
}

.yPos6 {
  top: 100%;
}
