@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #e7e9ee;
  overflow: hidden;
  z-index: -1;
}

.background li {
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 1px #ff904f;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 25s ease-in forwards infinite;
}

.background li:nth-child(1) {
  animation-delay: 0s;
  left: 72vw;
  top: 34vh;
  border-color: #ff904f;
}
.background li:nth-child(2) {
  animation-delay: 2s;
  left: 30vw;
  top: 97vh;
  border-color: #ff904f;
}
.background li:nth-child(3) {
  animation-delay: 4s;
  left: 18vw;
  top: 90vh;
  border-color: #ff904f;
}
.background li:nth-child(4) {
  animation-delay: 6s;
  left: 22vw;
  top: 5vh;
  border-color: #ff904f;
}
.background li:nth-child(5) {
  animation-delay: 8s;
  left: 14vw;
  top: 14vh;
  border-color: #ff904f;
}
.background li:nth-child(6) {
  animation-delay: 10s;
  left: 15vw;
  top: 54vh;
  border-color: #ff904f;
}
.background li:nth-child(7) {
  animation-delay: 12s;
  left: 45vw;
  top: 13vh;
  border-color: #ff904f;
}
.background li:nth-child(8) {
  animation-delay: 14s;
  left: 82vw;
  top: 50vh;
  border-color: #ff904f;
}
.background li:nth-child(9) {
  animation-delay: 16s;
  left: 28vw;
  top: 94vh;
  border-color: #ff904f;
}
.background li:nth-child(10) {
  animation-delay: 18s;
  left: 82vw;
  top: 66vh;
  border-color: #ff904f;
}

.background li:nth-child(12) {
  animation-delay: 22s;
  left: 35vw;
  top: 18vh;
  border-color: #ff904f;
}
.background li:nth-child(13) {
  animation-delay: 24s;
  left: 17vw;
  top: 59vh;
  border-color: #ff904f;
}
.background li:nth-child(14) {
  animation-delay: 26s;
  left: 26vw;
  top: 73vh;
  border-color: #ff904f;
}
.background li:nth-child(15) {
  animation-delay: 28s;
  left: 42vw;
  top: 5vh;
  border-color: #ff904f;
}
.background li:nth-child(16) {
  animation-delay: 30s;
  left: 2vw;
  top: 46vh;
  border-color: #ff904f;
}
.background li:nth-child(17) {
  animation-delay: 32s;
  left: 87vw;
  top: 18vh;
  border-color: #ff904f;
}
.background li:nth-child(18) {
  animation-delay: 34s;
  left: 95vw;
  top: 9vh;
  border-color: #ff904f;
}
.background li:nth-child(19) {
  animation-delay: 36s;
  left: 52vw;
  top: 1vh;
  border-color: #ff904f;
}
.background li:nth-child(20) {
  animation-delay: 38s;
  left: 74vw;
  top: 81vh;
  border-color: #ff904f;
}
.background li:nth-child(21) {
  animation-delay: 40s;
  left: 86vw;
  top: 98vh;
  border-color: #ff904f;
}
.background li:nth-child(22) {
  animation-delay: 42s;
  left: 77vw;
  top: 39vh;
  border-color: #ff904f;
}
.background li:nth-child(23) {
  animation-delay: 44s;
  left: 3vw;
  top: 0vh;
  border-color: #ff904f;
}
.background li:nth-child(24) {
  animation-delay: 46s;
  left: 98vw;
  top: 66vh;
  border-color: #ff904f;
}
.background li:nth-child(25) {
  animation-delay: 48s;
  left: 64vw;
  top: 11vh;
  border-color: #ff904f;
}
.background li:nth-child(26) {
  animation-delay: 50s;
  left: 9vw;
  top: 76vh;
  border-color: #ff904f;
}
.background li:nth-child(27) {
  animation-delay: 52s;
  left: 97vw;
  top: 82vh;
  border-color: #ff904f;
}
.background li:nth-child(28) {
  animation-delay: 54s;
  left: 48vw;
  top: 72vh;
  border-color: #ff904f;
}
.background li:nth-child(29) {
  animation-delay: 56s;
  left: 91vw;
  top: 30vh;
  border-color: #ff904f;
}
.background li:nth-child(30) {
  animation-delay: 58s;
  left: 12vw;
  top: 85vh;
  border-color: #ff904f;
}

/* Media Queries */
@media (max-width: 1200px) {
  .background li:nth-child(n + 21) {
    display: none;
  }
}

@media (max-width: 992px) {
  .background li:nth-child(n + 16) {
    display: none;
  }
}

@media (max-width: 768px) {
  .background li:nth-child(n + 11) {
    display: none;
  }
}

@media (max-width: 576px) {
  .background li:nth-child(n + 6) {
    display: none;
  }
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10) hue-rotate(300deg);
  mix-blend-mode: darken;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  width: 40px;
  height: 40px;
  background: #000000;
  animation: l7 2s infinite;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l7 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.containLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  flex-direction: column;
  overflow: hidden;
}

.preGameMessage {
  font-size: 1.2rem;
  font-family: "Bebas Neue";
  color: #333;
  margin: 1rem 0;
  text-align: center;
  max-width: 80%;
}

.PlayersReady {
  display: flex;
  width: 100%;
  justify-content: center;
}

.playersAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.readyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 3rem;
  border: none;
  cursor: pointer;
  font-family: "Bebas Neue";
  text-decoration: none;
  background-color: green;
  color: white;
  width: 6rem;
  padding: 0.5rem;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.readyBtn:hover {
  background-color: white;
  color: #ff914d;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.05);
}

.playerImage {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 50%;
  margin: 0 10px;
  transition: border-color 0.3s;
}

.playerImage.ready {
  border-color: #ff904f;
}
