.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: auto;
  top: 30%;
  border-radius: 10px;
  align-items: center;
  z-index: 1;
  color: white;
}

.betContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
  padding: 20px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000;
  font-size: 1rem;
  width: 200px;
  height: 200px;
  text-align: center;
  position: relative;
}

.betContainer::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 20px solid green;
  animation: loader-color 30s linear infinite, loader-fill 30s linear infinite;
  transform: rotate(45deg);
}

.betContainer p {
  margin: 5px 0;
}

.pTime {
  font-style: italic !important;
  font-size: 1.2rem;
}

.betContainer button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.betContainer button:hover {
  background-color: #ff904f;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.betContainer button:active {
  background-color: #ff904f;
  transform: translateY(0);
}

@keyframes loader-color {
  0% {
    border-color: #008000; 
  }
  25% {
    border-color: #32cd32; 
  }
  50% {
    border-color: #ff4500; 
  }
  75% {
    border-color: #dc143c; 
  }
  100% {
    border-color: #ff0000; 
  }
}

@keyframes loader-fill {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
