.contain {
  width: 100%;
  min-height: 100vh; /* Asegura que el contenedor cubra al menos la altura completa de la ventana de visualización */
  position: relative; /* Cambia a relative para que el fondo se ajuste a la ventana completa */
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-image: url("../../../src/assets/global/fondoo.png");
  background-repeat: no-repeat;
  background-size: cover; /* Asegura que la imagen de fondo cubra toda la pantalla */
}

.contain p {
  margin: 0;
}

.title {
  width: 100%;
}

.title p {
  width: 100%;
  font-size: 6rem;
  margin: 0;
  color: #669bbc;
}

.MapProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-block: 5%;
}

.titleCard {
  color: white;
}

.cardProduct {
  position: relative; /* Necesario para la cinta diagonal */
  font-size: 3rem;
  width: 25rem;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  border-radius: 10px;
  border: 3px solid black;
}

.cardProductMedia {
  width: 100%;
  margin-top: 2rem;
}

.cardProductMedia img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 1rem;
}

.cardProduct video {
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 1rem;
}

.descriptionDiv {
}

.description {
  color: white;
  font-size: 2rem;
}

.rainbow_text {
  font-size: 2rem;
  font-weight: bold;
  animation: rainbow 5s linear infinite;
}

.rgb_text {
  font-size: 2rem;
  font-weight: bold;
  animation: RGB 10s linear infinite;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

@keyframes RGB {
  0% {
    color: red;
  }

  25% {
    color: green;
  }
  50% {
    color: blue;
  }

  100% {
    color: pink;
  }
}

.priceDiv {
  color: white;
}

.NecesaryDiv {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  color: #669bbc;
}

.NecesaryValue {
  color: white;
}

.cardProduct button {
  font-size: 2rem;
  width: 100%;
  background-color: #669bbc;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-weight: 600;
  transition: 1s;
}

.cardProduct button:hover {
  background-color: white;
  transition: 1s;
}

.cardProduct button:disabled {
  background-color: rgba(255, 0, 0, 0.596);
  transition: 1s;
}

/* Cinta diagonal para "Canjeado" */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #c0392b;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(45deg);
  top: 30px;
  right: -50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 970px) {
  .MapProducts {
    padding-block: 15%;
  }
  .cardProduct {
    font-size: 3rem;
    width: 90%;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    border-radius: 10px;
    border: 3px solid black;
  }
}

@media only screen and (max-width: 1030px) {
  .title {
    width: 100%;
    margin-top: 10%;
  }
}
