.contain {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-image: url("../../../src/assets/global/fondoo.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contain p {
  margin: 0;
}
.title {
  width: 100%;
}
.title p {
  width: 100%;
  font-size: 6rem;
  margin: 0;
  color: #669bbc;
}
.description {
  font-size: 2rem;
}

.MapProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 1rem;
}

.cardProduct {
  font-size: 3rem;
  width: 400px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  border-radius: 10px;
  border: 3px solid black;
}
.cardProduct img {
  width: 150px;
}
.cardProduct button {
  font-size: 2rem;
  width: 100%;
  background-color: #669bbc;
  border-radius: 10px;
  cursor: pointer;
}
