
.table {
  border-radius: 10px;
  width: 400px;
  /* border-collapse: collapse; */
  font-family: "noto sans";
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 5px;
}

.table th {
  background-color: #b69b84;
  color: white;
}

.table tr:hover {
  background-color: #9ec5ca67;
}


.titleTable {
  min-width: 50px;
}