.containResult {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
}

.tableComponent {
  overflow: auto;
  width: 70%;
  max-width: 1200px;
  margin: auto;
}

.tableComponent table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tableComponent th,
.tableComponent td {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #dededf;
}

.tableComponent th {
  font-size: 1.2rem;
  background-color: #ff904f;
  color: #fff;
  font-weight: lighter;
  position: relative;
}

.tableComponent th:first-child {
  border-top-left-radius: 10px;
}

.tableComponent th:last-child {
  border-top-right-radius: 10px;
}

.tableComponent td {
  color: #000;
  background-color: #f9f9f9;
  position: relative;
}

.tableComponent tbody tr:nth-child(even) td {
  background-color: #f1f1f1;
}

.closeResult {
  align-self: flex-end;
  margin: 1rem;
  cursor: pointer;
}

.closeResult svg {
  transition: transform 0.2s;
}

.closeResult svg:hover {
  transform: scale(1.1);
}

.points {
  font-weight: bold;
}

.bet {
  position: relative;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.fail {
  background-color: #f8d7da;
  color: #721c24;
  text-decoration: line-through;
}

.fail::after {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}
