.ContainSideLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  position: absolute;
  left: 0;
  top: 0;
  /* align-items: center; */
  margin-top: 1rem;
}

.cardsSideLeft {
  width: 50%;
  margin-left: 20%;
  /* margin-bottom: 2rem; */
  border: 3px solid darkgoldenrod;
  border-radius: 13px;
  position: absolute;
}

/* Clases para diferentes posiciones en el eje Y */
.yPos1 {
  top: 0%;
}

.yPos2 {
  top: 20%;
}

.yPos3 {
  top: 40%;
}

.yPos4 {
  top: 60%;
}

.yPos5 {
  top: 80%;
}
