.infoPropia {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 2.5%;
  left: 2%;
  z-index: 1;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  color: #ff904f;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avatar img,
.avatar video {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin: 0;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #fff;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.name {
  color: #fff;
}

.rainbow_text {
  font-size: 2rem;
  font-weight: bold;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

.red_text {
  color: red;
}

.blue_text {
  color: blue;
}

.green_text {
  color: green;
}

@media only screen and (max-width: 840px) {
  .infoPropia {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 2.5%;
    left: 1%;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    color: #ff904f;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .avatar img,
  .avatar video {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin: 0;
  }

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .cards {
    position: relative;
    height: fit-content;
    border: 3px solid darkgoldenrod;
    border-radius: 13px;
    transition: top 0.5s ease-in-out;
  }
}

@media only screen and (max-width: 480px) {
  .infoPropia {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 2.5%;
    left: 1%;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem;
    color: #ff904f;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .avatar img,
  .avatar video {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin: 0;
  }

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}

