.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formControl {
  min-width: 120px;
  background-color: rgb(255, 16, 16);
}

.inputLabel {
  background-color: rgb(250, 9, 9);
  padding-inline: 3px;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.clearFiltersBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #669bbc;
  color: white;
  transition: background-color 0.3s;
  transition: width 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.clearFiltersBtn:hover {
  background-color: white;
  color: brown;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.clearFiltersBtnBerenjena {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: green;
  color: white;
  transition: background-color 0.3s;
  transition: width 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.clearFiltersBtnBerenjena:hover {
  background-color: white;
  color: #ff914d;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
