@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

.contain {
  width: 100%;
  height: 100vh;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/berenjena/home/bgBerenjena.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Reddit Sans";
}

.info {
  color: white;
  margin: 15% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2rem;
  background-color: #000000a1;
  z-index: 1;
  padding: 2rem;
  border-radius: 10px;
}

.info p {
  padding: 8px;
  margin: 0;
  text-align: start;
}

.rulesTitle {
  width: 100%;
}

.info h3 {
  font-family: "Reddit Sans";
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 5px;
  color: #ff914d;
  text-align: center;
}

.info span {
  color: #ff914d;
  padding-right: 2px;
}

.linkBackMenu {
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.link {
  margin-top: 2rem;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 25px;
  text-decoration: none;
  font-family: "Reddit Sans";
  font-weight: bold;
  color: #ff914d;
  width: 10rem;
  text-align: center;
  transition: width 0.3s ease-in-out;
}

.link:hover {
  width: 14rem;
  box-shadow: #ff914d 0px 1px 4px, #ff914d 0px 0px 0px 3px;
}

@media only screen and (max-width: 1024px) {
  .info {
    margin: 10% 5%;
    font-size: 1.1rem;
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 730px) {
  .info {
    margin: 5% 5%;
    width: 90%;
    font-size: 1rem;
    padding: 1rem;
  }

  .linkBackMenu {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .info {
    margin: 5% 2%;
    width: 95%;
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  .linkBackMenu {
    font-size: 1.2rem;
  }
}
