@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* ---mesa--- */
.contain {
  /* max-width:1200px;
  max-height:720px; */
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-image: url("../../../../src/assets/fondoo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contain::before {
  content: ""; /* Necesario para que el elemento pseudo sea visible */
  position: absolute; /* Posición absoluta en relación con el contenedor */
  width: 60%; /* Ancho del borde exterior */
  height: 60%; /* Altura del borde exterior */
  border: 10px solid #000; /* Borde exterior negro */
  border-radius: 50%; /* Borde redondeado para imitar la forma de la mesa */
  top: 20%; /* Posicionamiento para centrar el borde exterior verticalmente */
  left: 20%; /* Posicionamiento para centrar el borde exterior horizontalmente */
}

.contain::after {
  content: ""; /* Necesario para que el elemento pseudo sea visible */
  position: absolute; /* Posición absoluta en relación con el contenedor */
  width: 50%; /* Ancho del borde interior */
  height: 50%; /* Altura del borde interior */
  border: 10px solid #fff; /* Borde interior blanco */
  border-radius: 50%; /* Borde redondeado para imitar la forma de la mesa */
  top: 25%; /* Posicionamiento para centrar el borde interior verticalmente */
  left: 25%; /* Posicionamiento para centrar el borde interior horizontalmente */
}
/* ---mesa--- */


/* alineacion de jugadores en la mesa  */
.tableroJugadores {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.jugador2 {
  position: absolute;
  display: flex;
  left: 2%;
  top: 40%;
}

.jugador3 {
  position: absolute;
  display: flex;
  left: 15%;
  top: 10%;
}

.jugador4 {
  position: absolute;
  display: flex;
  top: 0;
  right: 50%;
  left: 50%;
  justify-content: center;
}

.jugador5 {
  position: absolute;
  display: flex;
  right: 15%;
  top: 10%;
}

.jugador6 {
  position: absolute;
  display: flex;
  top: 40%;
  right: 2%;
}
/* alineacion de jugadores en la mesa  */

.resultado {
  position: absolute;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
  background-color: #ff904f;
  padding-inline: 1rem;
  border-radius: 10px;
  color: white;
z-index: 999;
}
