@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* ---mesa--- */
.contain {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-image: url("../../../../src/assets/fondoo.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contain::before {
  content: ""; 
  position: absolute; 
  width: 60%; 
  height: 60%; 
  border: 10px solid #000; 
  border-radius: 50%; 
  top: 20%; 
  left: 20%; 
}

.contain::after {
  content: ""; 
  position: absolute; 
  width: 50%; 
  height: 50%; 
  border: 10px solid #fff; 
  border-radius: 50%; 
  top: 25%; 
  left: 25%; 
}

.tableroJugadores {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.jugador2 {
  position: absolute;
  display: flex;
  top: 40%;
  right: 2%;
}

.jugador3 {
  position: absolute;
  display: flex;
  right: 15%;
  top: 10%;
}

.jugador4 {
  position: absolute;
  display: flex;
  top: 0;
  right: 50%;
  left: 50%;
  justify-content: center;
}

.jugador5 {
  position: absolute;
  display: flex;
  left: 15%;
  top: 10%;
}

.jugador6 {
  position: absolute;
  display: flex;
  left: 2%;
  top: 40%;
}

.resultado {
  position: absolute;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
  background-color: #ff904f;
  padding-inline: 1rem;
  border-radius: 10px;
  color: white;
  z-index: 0;
}
