.contain {
  background-color: darkgoldenrod;
  padding: 1rem;
  border-radius: 10px;
  z-index: 2;
  font-size: 2rem;
  border: 3px solid black;
}

.title {
  color: white;
  margin: 0;
}

.contain p {
  margin: 0;
}

.checkbox_wrapper_24 {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 1rem;
}

.checkbox_wrapper_24 input[type="checkbox"] {
  display: none;
}

.checkbox_wrapper_24 label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox_wrapper_24 label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 150ms 200ms,
    transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox_wrapper_24 input[type="checkbox"]:checked + label span {
  background-color: #669bbc;
  transform: scale(1.25);
}

.checkbox_wrapper_24 label span svg {
  width: 15px; /* Adjust size as needed */
  height: 15px; /* Adjust size as needed */
  stroke: white; /* Change color if needed */
}

.containCards {
  display: flex;
  gap: 25px;
}

.divCard {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.selectedCard {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 3px solid #669bbc;
  padding: 0.5rem;
  border-radius: 10px;
}

.buttonDiv {
  margin-top: 1rem;
}

.buttonDiv button {
  width: 50%;
  background-color: #669bbc;
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
